@model IEnumerable<IndumentariaIntima.Data.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
            </tr>
        }
    </tbody>
</table>
